<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col">
        <h5>COME VISIT</h5>
        <p>Carnegie Mellon University<br/>
Newell Simon Hall 3128 <br/>
5000 Forbes Ave <br/>
Pittsburgh PA 15213-3815</p>
      </div>
      <div class="footer-col">
        <h5>CONTACT US</h5>
<p><a href="{{'intranet' | relative_url}}">412.268.6233</a><br/>
<a class="u-email" href="mailto:awd@andrew.cmu.edu">Artur Dubrawski</a></br>
<a class="u-email" href="mailto:jeff4@andrew.cmu.edu">Jeff Schneider</a></br>
<a class="u-email" href="mailto:bapoczos@andrew.cmu.edu">Barnabas Poczos</a></br>
</p>
    </div>

  </div>

</footer>