<header class="site-header">

  <div class="page-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background:linear-gradient(#444444, #dddddd);max-height:70px;min-height:40px;">
	  <div class="container-fluid">
		<a class="navbar-brand" href="{{ "/" | relative_url }}">
			{%- if site.brand_img -%}
		    <img src="{{site.brand_img | relative_url}}" alt="{{site.brand | escape}}" style="height:20px;margin:6px;">
    		{%-endif-%}
		    {%- if site.title_img -%}
		    <img src="{{site.title_img | relative_url}}" alt="{{site.title | escape}}" style="width:60px">
    		{%- else -%}{{ site.title | escape }}{%-endif-%}
    	</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="z-index: 99999; background-color: white;">
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
			</li>
            {%- endif -%}
          {%- endfor -%}
            <li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="http://www.autonlab.org/autonlab_wiki/">Intranet</a>
			</li>
		  </ul>

		</div>
	  </div>
	</nav>
    
  </div>
</header>