:root {
	--clr-purple: #323399;
	--clr-teal: #ddf0f0;
	--clr-eye-lt-blue: #cdd7ef;
	--clr-eye-dk-blue: #7197f0;
	--clr-red: #c00000;
	--font-title: 'Bebas Neue', cursive;
}

html, body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans',Helvetica,sans-serif !important;
}
/* styling for home index.md */
.home {
	margin-left: 5vw;
	margin-right: 5vw;
}
.home h4 {
	margin-top: 5vh;
	font-family: 'Bebas Neue', cursive;
	font-weight: bolder;
	font-size: 7vw;
	font-size: 5vh;
}
.home h1 {
	font-family: 'Bebas Neue', cursive;
}
.carousel-item .slide-div h1 {
	margin-top: 1vh;
}
.carousel-item a {
	transition: 300ms;
	text-decoration: none;
}
.carousel-item a:link, .carousel-item a:visited {
	color: var(--clr-purple) !important;
}
.carousel-item a:hover {
	text-decoration: underline;
	text-decoration-thickness: .1em;
}
/* application areas styling */
.application-title {
	font-family: 'Bebas Neue', cursive;
	color: white;
	text-align: center;
	font-size: 4vh !important;
	margin-top: 0 !important;
	margin-bottom: 0;
	background-color: var(--clr-purple);
	padding: .5em;
	margin-bottom: .2em;
	border-radius: 20px 20px 0px 0px;
}
.highlighted-work-title {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 4vh !important;
	margin-bottom: 0;
}
.application-body {
	background-image: url(/assets/images/grey.png);
	border: 4px solid var(--clr-purple) !important;
	border-radius: 25px !important;
}
.checker {
	border: 2px solid var(--clr-purple);
	border-radius: 5px;
	
	/*background-color:#67a9f0b5;*/
	/*background-color:#c1cef5;*/
}
.pro-name {
	text-align: center;
	font-weight: bold;
	margin: 0 !important;
	padding: 1em !important;
}
.pro-blurb {
	padding-top: 1em !important;
}
/* styling for "people" page titles */
.people-title {
	font-size: 30px;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
  }
.people-title ~ .people-title {
	padding-top: 2rem;
}
/*styling for staff blocks*/
.staff-block {
	border: 5px solid var(--clr-purple);
	border-radius: 20px;
	/*background-color:#8888aa;*/
	background-color: var(--clr-eye-lt-blue);
	width: 200px;
	text-align: center;
	padding-top:10px;
	margin: 1px;
}
/*styling for staff block links*/
.staff-block a:link {
	color: var(--clr-purple);
	font-weight: bold;
}
/*styling for staff blocks links*/
.staff-block a:hover {
	font-weight: bolder;
}

.staff-block a:visited {
	color: var(--clr-purple);
	font-weight: bold;
}
/* Staff profile page/bio styling */
.bio-container {
	margin: auto;
	width: 85vw;
}
.bio-name {
	margin-left: 2rem;
	font-family: var(--font-title);
}
/* Research page styling */
.research-container {
	border: 4px solid var(--clr-purple);
	border-radius: 25px;
	background-image: url(/assets/images/grey.png);
}
.research-title {
	font-family: 'Bebas Neue', cursive;
	color: white;
	text-align: center;
	font-size: 4vh !important;
	margin-top: 0 !important;
	margin-bottom: 0;
	background-color: var(--clr-purple);
	padding: .5rem;
	margin-bottom: .2rem;
	border-radius: 20px 20px 0px 0px;
}

/* Impact page styling */
.impact-page-styles a:link {
	color: var(--clr-purple);
}

.impact-page-styles a:visited {
	color: var(--clr-purple);
}

.impact-page-styles a {
	text-decoration: none;
	font-family: 'Bebas Neue', cursive;
	font-weight: bolder;
	font-size: 1.7rem;
	transition: 350ms;
}

.impact-page-styles a:hover {
	text-decoration: 3px underline;
}
.impact-row {
	background-image: url(/assets/images/grey.png);
}
/* nav item links */
.nav-item a:link, .nav-item a:visited {
	font-weight: bolder;
}
/* nav item links when hovered over */
.nav-item a {
	transition: 400ms;
}
.nav-item a:hover {
	color: #323399 !important;
	text-decoration-thickness: .2em;
}
.staff-container {
  	padding: 0;
	margin: 0;
  	list-style: none;
  	-ms-box-orient: horizontal;
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -moz-flex;
  	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bio-img {
	width:150px;
	height:150px;
	border-radius: 50%;
	display: flex;
	margin:auto;
  	justify-content: center;
  	align-items: center;
}

.hero {
    /*background-image: url("images/showcase.jpg"); */
	color:#000000;
	/*background-color:#67a9f0b5;*/
	background-color:#FFFFFF;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */

}

.slide-div {
	/*background-color:#222222AA;*/
	/*background-color:#67a9f0b5;*/
	/*background-image: url("/assets/images/grey.png")*/
	background-color:#FFFFFF;
}
.slide-div a {
	/*color:#FFFFFF;*/
	color:#000000;
}

.career-div {
	border: 2px solid blue;
	border-radius:5px;
	padding:1px;
}

.page-wrapper {
	margin-left: auto;
	margin-right: auto;
}

.content-wrapper {
	margin: auto;
	width: 85vw;
	max-width: 1200px;
}

.page-title ~ .page-title {
	padding-top: 50px;
}


/*header, body, html {
  background-image: url("/assets/images/grey.png");

  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}*/

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

.footer-heading { font-size: 1.125rem; margin-bottom: 15px; }

.feed-subscribe .svg-icon { padding: 5px 5px 2px 0; }

.contact-list, .social-media-list, .pagination { list-style: none; margin-left: 0; }

.footer-col-wrapper, .social-links { font-size: 0.9375rem; color: #828282; }

.footer-col { margin-bottom: 15px; }

.footer-col-1, .footer-col-2 { width: calc(50% - (30px / 2)); }

.footer-col-3 { width: calc(100% - (30px / 2)); }


@media screen and (min-width: 800px) { .footer-col-1 { width: calc(35% - (30px / 2)); }
  .footer-col-2 { width: calc(20% - (30px / 2)); }
  .footer-col-3 { width: calc(45% - (30px / 2)); } }
@media screen and (min-width: 600px) { .footer-col-wrapper { display: flex; }
  .footer-col { width: calc(100% - (30px / 2)); padding: 0 15px; }
  .footer-col:first-child { padding-right: 15px; padding-left: 0; }
  .footer-col:last-child { padding-right: 0; padding-left: 15px; } }
/** Page content */
.page-content { padding: 30px 0; flex: 1 0 auto; }

.page-heading { font-size: 2rem; }

.post-list-heading { font-size: 1.75rem; }

.post-list { margin-left: 0;
	list-style: none; 
	margin-right: 26vw;
}
.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 1.5rem; }

/** Posts */

/* all page headers AND main body content */
.post-header, .post-content {
	background-color: white;
	margin: auto;
	width: 85vw;
	max-width: 1000px;
}
/* all page headers */
.post-header {
	text-align: center;
	margin-bottom: 0 !important;
	font-family: 'Bebas Neue', cursive;
}
.post-title {
	font-size: 6vh !important;
}
/* all main body content */
.post-content {
	margin-top: 2vh !important;
	padding: .2em 1em 0 1em !important;
}
/*
.post-header { margin-bottom: 30px; }
.post-content { margin-bottom: 30px; }
*/

.post-title, .post-content h1 { font-size: 2.625rem; letter-spacing: -1px; line-height: 1.15; }
@media screen and (min-width: 800px) { .post-title, .post-content h1 { font-size: 2.625rem; } }

.post-content h1, .post-content h2, .post-content h3 { margin-top: 60px; }
.post-content h4, .post-content h5, .post-content h6 { margin-top: 30px; }
.post-content h2 { font-size: 1.75rem; }
@media screen and (min-width: 800px) { .post-content h2 { font-size: 2rem; } }
.post-content h3 { font-size: 1.375rem; }
@media screen and (min-width: 800px) { .post-content h3 { font-size: 1.625rem; } }
.post-content h4 { font-size: 1.25rem; }
.post-content h5 { font-size: 1.125rem; }
.post-content h6 { font-size: 1.0625rem; }
